<h1> configuracion inicial</h1>
 
{{#each urls }}
    <article class="card mb-2"> 
    <div class ="card-body"> 
        <p> wwww.google.com </p>
        <p> asdasdasd</p>
        <a href="#" class="btn btn-danger">Eliminar </a>
        <a href="#" class="btn btn-warning">Editar </a>
        <a href="#" class="btn btn-info">Copiar </a>

    </div>
</article>
{{/each}}



